@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Book

<tr>
    <td class="border">@Model.Title</td>

    <td class="border">
        @Model.Author
    </td>
    <td class="border">
        @Model.Publisher
    </td>
    <td class="border">
        @Model.Isbn
    </td>
    <td class="border">
        @Model.Category
    </td>
    <td class="border">
        @Model.PageCount
    </td>
    <td class="border">
        $@Model.Price
    </td>
    <td class="border">
        <form method="post" asp-page="/Cart">
        <input type="hidden" asp-for="@Model.BookId"/>
        <span class="card-text">
        <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>     
        </span></form>
    </td>

</tr>